
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #999999;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 36px;
  color: #333333;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.hero-heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  font-size: 20px;
  color: #000;
  line-height: 52px;
  font-weight: 700;
  /*padding-bottom: 15px;*/
  margin-bottom: 15px;
  /*text-align: center;*/
  position: relative;
}

.section-title:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 70px;
  margin-left: -90px;
  bottom: 40px;
  /*background-color: #E91E63;*/
}

.section-title:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 70px;
  margin-left: 20px;
  bottom: 40px;
  /*background-color: #E91E63;*/
}

.section-subcontent {
  font-size: 15px;
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-sub {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 52px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}

.section-sub:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #E91E63;
}

.subtitle {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inner-title {
  font-size: 24px;
  font-weight: 700;
  text-tranform: capitalize;
}

.page-tagline {
  font-size: 24px;
  font-weight: 400;
  color: #ddd;
}

.page-title {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
}

.btn {
  font-size: 15px;
  padding: 11px 27px;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-weight: 900;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #e5010e;
  position: relative;
  color: #fff;
  z-index: 1;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.btn-border {
  color: #484848;
  background-color: transparent;
  border: 2px solid #484848;
  border-radius: 4px;
  padding: 7px 20px;
}

.btn-border:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 8px 0px;
  text-transform: capitalize;
}

.btn-rm i {
  vertical-align: middle;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #E91E63;
}

.bg-light {
  background: #F8F8F8;
}

.bg-white {
  background: #fff;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e5010e;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

.owl-carousel .item {
  margin: 5px;
}

.owl-carousel.item img {
  display: block;
  width: 50%;
  height: auto;
}

.owl-carousel .owl-controls .owl-page {
  display: inline-block;
}

.owl-carousel .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #fff;
  border-radius: 2px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #e5010e;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-padding {
  padding: 60px 0;
}

.page-header {
  padding: 115px 0px 25px;
  position: relative;
}

.page-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 59, 77, 0.88);
}

.page-header .breadcrumb-wrapper .product-title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.page-header .breadcrumb-wrapper .breadcrumb {
  font-size: 14px;
  color: #E91E63;
  border-radius: 0px;
  background: transparent;
  padding: 5px 0px;
  z-index: 1;
}

.page-header .breadcrumb-wrapper .breadcrumb li {
  display: inline-block;
}

.page-header .breadcrumb-wrapper .breadcrumb li a {
  color: #fff;
  padding-right: 5px;
}

#color-style-switcher .bottom a.settings {
  color: #E91E63;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.top-bar {
  background: #4c4c4c;
}

.top-bar .list-inline li {
  display: inline-block;
  line-height: 42px;
  color: #fff;
  margin-right: 15px;
  font-size: 14px;
}

.top-bar .list-inline li a {
  display: block;
  margin-right: 15px;
  color: #fff;
  line-height: 32px;
}

.top-bar .list-inline li i {
  font-size: 14px;
  color: #fff;
  padding-right: 5px;
  vertical-align: middle;
}

.roof-social a {
  color: #ffffff;
  float: left;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
  transition: all .4s ease 0s;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.roof-social a i {
  min-width: 36px;
  display: inline-block;
}

.roof-social a:hover {
  color: #E91E63;
}

.roof-social .facebook:hover {
  color: #3b5999;
}

.roof-social .twitter:hover {
  color: #4A9CEC;
}

.roof-social .instagram:hover {
  color: #D6274D;
}

.roof-social .linkedin:hover {
  color: #1260A2;
}

.roof-social .google:hover {
  color: #CE332A;
}

.header-top-right {
  padding: 7px 0;
}

.header-top-right .header-top-button {
  color: #ffffff;
  background: transparent;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 22px;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-top-right .header-top-button:hover {
  color: #E91E63;
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-bg {
  background: #fff;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}

.menu-bg .navbar-nav .nav-link {
  color: #333 !important;
}

.bg-black {
  background: #111011;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.navbar-brand img {
  /*width: 200px;*/
}

.fixed-top {
  top: 42px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  /*color: #999 !important;*/
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #df5236 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  /*color: #ffffff !important;*/
}

.indigo {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 14px;
  color: #212529;
  padding: 0 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 35px;
  background: transparent;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #e5010e;
  outline: none;
}

.navbar {
  padding: 7px;
}

.navbar li.active a.nav-link {
  color: #212529;
  /*background: #E91E63;*/
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 190px;
  border: none;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 0px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
  background: #ffffff;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 10px 12px;
  border-radius: 0px;
  font-size: 14px;
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  display: inline-block;
  float: left;
  letter-spacing: 0.5px;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  background: #E91E63;
  color: #fff !important;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #E91E63;
}

.slicknav_menu .slicknav_icon-bar {
  background: #E91E63;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  .slicknav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav .dropdown li a.active {
    background: #f5f5f5;
    color: #E91E63;
  }
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 59, 77, 0.88);
}

#hero-area .contents {
  padding: 211px 0 270px;
}

#hero-area .contents .head-title {
  color: #fff;
  font-size: 36px;
  font-weight: 100 !important;
  margin-bottom: 15px;
}

#hero-area .contents span.year {
  color: #df5236;
}

#hero-area .contents p {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
}

.search-bar {
  margin-top: 40px;
}

.search-bar .search-form {
  width: 100%;
  float: left;
}

.search-bar .search-inner {
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
}

.search-bar .search-inner {
  margin: 0;
  border: 0;
  width: 100%;
  float: left;
  position: relative;
}

.search-bar .form-group:first-child {
  border: 0;
}

.search-bar .form-group {
  margin: 5px;
  float: left;
  width: 25.33%;
  padding: 0 0 0 10px;
  background: #fff;
  border-radius: 0px;
  border-left: 1px solid #f1f1f1;
}

.search-bar .form-group .form-control {
  position: relative;
  z-index: 1;
  border: 0;
  height: 50px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 30px;
  padding: 15px 0px 15px 0;
}

.search-bar .form-group .form-control, .search-bar .form-group .select select {
  border: 0;
  height: 50px;
  border-radius: 0px;
  font-size: 14px;
  line-height: 30px;
  background: #ffffff;
}

.search-bar .form-group .form-control, .search-bar .form-group .select select:focus {
  outline: none;
  box-shadow: none;
}

.search-bar .select {
  color: #999;
  float: left;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.search-bar .select:after {
  top: 7px;
  right: 15px;
  z-index: 2;
  color: #999;
  display: none;
  content: '\e93a';
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: 'LineIcons';
}

.search-bar .select select {
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search-bar .select select option {
  color: #999;
}

.search-bar .inputwithicon {
  position: relative;
}

.search-bar .inputwithicon i {
  top: 0;
  right: 0;
  z-index: 2;
  color: #322783;
  position: absolute;
  right: 5px;
  font-size: 20px;
  line-height: 50px;
}

.search-bar .btn-common {
  top: 0px;
  right: 0px;
  padding: 0;
  z-index: 2;
  width: 157px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  position: absolute;
  letter-spacing: 0.5px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.search-bar .btn-common i {
  font-size: 20px;
  vertical-align: middle;
}

.search-button {
  background: #000000;
  padding-bottom: 40px;
}

#hero-area-two {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area-two .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 59, 77, 0.88);
}

#hero-area-two .contents {
  padding: 160px 0 170px;
}

#hero-area-two .contents .head-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 20px;
}

#hero-area-two .contents p {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  margin: 0px 0px 50px 0px;
}

.search-two {
  margin-bottom: 30px;
}

.search-two .search-inner {
  padding: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background: #fff;
}

.search-two .search-inner > .row {
  margin: 0;
}

.search-two .search-inner > .row > div {
  padding: 0;
}

.search-two .search-inner .form-group {
  position: relative;
  margin-bottom: 0;
}

.search-two .search-inner .search-query input[type="text"].form-control {
  border-right: 1px solid #d7d7d7;
}

.search-two .search-inner input[type="text"].form-control {
  border: 0;
  height: unset;
  padding: 3px 20px;
  border-radius: 0;
  margin: 10px 0;
}

.search-two .search-inner .search-location i {
  position: absolute;
  right: 12px;
  top: 9px;
  color: #999;
}

.search-two .search-inner button {
  border-radius: 3px;
  box-shadow: none;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 16px;
}

.search-two .search-inner .search-suggestion {
  display: none;
  text-align: inherit;
  position: absolute;
  left: -5px;
  top: calc(100% + 13px);
  background: #fff;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 999;
}

.search-two .search-inner .search-suggestion .search-suggestion-items {
  text-align: left;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul {
  margin: 0;
  bottom: 0;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul li {
  display: block;
  margin: 0 0 5px;
  padding: 0 20px;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul li a {
  color: #333;
  padding: 5px 0;
  display: inline-block;
  border: 0;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul li a:hover {
  color: #E91E63;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul li a i {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
  background: #E91E63;
  display: inline-block;
  font-size: 18px;
}

.search-two .search-inner .form-group.search-query.query-focus .search-suggestion {
  display: block;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.adverts-search-suggestion {
  text-align: center;
}

.adverts-search-suggestion .search-suggestion-title {
  font-size: 16px;
  margin: 0 10px;
}

.adverts-search-suggestion .adverts-search-suggestion-items {
  display: inline-block;
}

.adverts-search-suggestion .adverts-search-suggestion-items ul {
  margin: 0;
  padding: 0;
}

.adverts-search-suggestion .adverts-search-suggestion-items ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.adverts-search-suggestion .adverts-search-suggestion-items ul li a {
  border: 1px solid #999;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.adverts-search-suggestion .adverts-search-suggestion-items ul li a:hover,
.adverts-search-suggestion .adverts-search-suggestion-items ul li a:focus {
  color: #ffffff;
  border-color: #ffffff;
}

.contents-hero-two {
  padding: 180px 0 120px;
}

.contents-text .dsc {
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 20px;
}

.contents-text .heading-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.classiser-search-bar {
  margin: 0;
}

.classiser-search-bar .search-inner {
  border-radius: 3px;
  margin: 0;
  border: 0;
  padding: 20px;
  position: relative;
  background: #808080;
}

.classiser-search-bar .search-inner h4 {
  color: #fff;
  margin-top: 0;
  font-size: 22px;
  margin-bottom: 20px;
}

.classiser-search-bar .form-group {
  width: 100%;
  float: left;
  padding: 0 0 0 52px;
  background: #fff;
  border-radius: 50px;
  margin-bottom: 20px;
}

.classiser-search-bar .inputwithicon {
  position: relative;
}

.classiser-search-bar .inputwithicon i {
  top: 0;
  left: 20px;
  z-index: 2;
  position: absolute;
  font-size: 20px;
  line-height: 50px;
}

.classiser-search-bar .btn-common {
  padding: 0;
  z-index: 2;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.classiser-search-bar .inputwithicon i {
  top: 0;
  left: 0;
  z-index: 2;
  color: #00BCD4;
  position: absolute;
  left: 20px;
  font-size: 20px;
  line-height: 50px;
}

.classiser-search-bar .select {
  color: #999;
  float: left;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.classiser-search-bar .select select {
  border: 0;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  line-height: 30px;
  padding: 10px 15px 15px 0;
  background: #ffffff;
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.classiser-search-bar .form-group .form-control,
.classiser-search-bar .form-group .select select:focus {
  outline: none;
  box-shadow: none;
}

.classiser-search-bar .select:after {
  top: 7px;
  right: 15px;
  z-index: 2;
  color: #999;
  display: block;
  content: '\e93a';
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: 'LineIcons';
}

.classiser-search-bar .form-group .form-control,
.classiser-search-bar .form-group select {
  border: 0;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  font-size: 15px;
  line-height: 30px;
  padding: 10px 15px 15px 5px;
  background: #ffffff;
}

/* Hero Slider Area */
#main-slide .carousel-control {
  display: none;
  transition: all 0.3s ease-in-out;
}

#main-slide .carousel-indicators {
  cursor: pointer;
}

#main-slide:hover .carousel-control {
  display: block;
  transition: all 0.3s ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#main-slide .carousel-item img {
  position: relative;
  width: 100%;
  max-height: 670px;
}

#main-slide .carousel-inner .carousel-item::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#main-slide .carousel-item .carousel-caption {
  opacity: 0;
  transition: opacity 100ms ease 0s;
  z-index: 0;
}

#main-slide .carousel-item .carousel-caption .heading-title {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}

#main-slide .carousel-item .carousel-caption .sub-heading {
  font-size: 14px;
  color: #fff;
}

#main-slide .carousel-item.active .carousel-caption {
  opacity: 1;
  transition: opacity 100ms ease 0s;
  z-index: 1;
}

#main-slide .carousel-caption {
  color: #fff;
  position: absolute;
  top: 40%;
}

#main-slide .carousel-control-next,
#main-slide .carousel-control-prev {
  opacity: 1;
  box-shadow: none;
}

#main-slide .carousel-indicators li {
  width: 30px;
  height: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

#main-slide .carousel-control i {
  line-height: 40px;
  font-size: 18px;
  width: 40px;
  border: 1px solid #fff;
  height: 40px;
  display: block;
  color: #fff;
  border-radius: 0px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#main-slide .carousel-control i:hover {
  color: #fff;
  background: #E91E63;
  border-color: #E91E63;
}

.carousel .carousel-item.active .animated2 {
  animation: 1s ease-in 200ms normal both 1 running lightSpeedIn;
}

.carousel .carousel-item.active .animated3 {
  animation: 1s ease-in-out 500ms normal both 1 running bounceInLeft;
}

.carousel .carousel-item.active .animated4 {
  animation: 1s ease-in 500ms normal both 1 running flipInX;
}

.carousel .carousel-item.active .animated5 {
  animation: 1s ease-in-out 100ms normal both 1 running bounceInLeft;
}

.carousel .carousel-item.active .animated6 {
  animation: 1s ease-in 500ms normal both 1 running bounceIn;
}

.carousel .carousel-item.active .animated7 {
  animation: 1s ease-in 500ms normal both 1 running bounceIn;
}

.carousel .carousel-item.active .animated8 {
  animation: 1s ease-in 800ms normal both 1 running bounceInDown;
}

.carousel-fade .carousel-inner .carousel-item {
  max-height: 700px;
  opacity: 0.8;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .carousel-item::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.carousel-fade .carousel-control {
  z-index: 20;
}

.slider-title {
  font-size: 70px;
  font-weight: 900;
}

/* Feateured Product */
.featured-box {
  width: 100%;
  background: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.featured-box figure {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
}

.featured-box figure .price-save {
  z-index: 9;
  position: absolute;
  bottom: 20px;
  left: 0px;
  display: inline-block;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #df5236;
  color: #fff;
  padding: 4px 15px;
}

.featured-box figure .icon {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.featured-box figure .icon span {
  margin-right: 5px;
}

.featured-box figure .icon span i {
  z-index: 2;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background: #E91E63;
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.featured-box figure .icon .bg-green i {
  background: #347FFF;
}

.featured-box .feature-content {
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  padding: 15px;
}

.featured-box .feature-content .product {
  width: 100%;
  float: left;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin: 0 0 15px;
}

.featured-box .feature-content .product a {
  color: #999999;
}

.featured-box .feature-content .product a:hover {
  color: #E91E63;
}

.featured-box .feature-content h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;
}

.featured-box .feature-content h4 a {
  color: #212529;
}

.featured-box .feature-content span {
  display: block;
  font-size: 13px;
  color: #999;
}

.featured-box .feature-content .meta-tag {
  display: inline-block;
  width: 100%;
}

.featured-box .feature-content .meta-tag span {
  float: left;
  margin-right: 10px;
  color: #999;
}

.featured-box .feature-content .meta-tag span i {
  margin-right: 3px;
}

.featured-box .feature-content .meta-tag span a {
  color: #999;
}

.featured-box .feature-content .meta-tag span a:hover {
  color: #E91E63;
}

.featured-box .feature-content .dsc {
  line-height: 27px;
  margin-bottom: 22px;
}

.featured-box .feature-content .listing-bottom {
  padding: 15px 0;
  border-top: 1px solid #E5E5E5;
  width: 100%;
}

.featured-box .feature-content .listing-bottom .price {
  font-size: 18px;
  font-weight: 500;
  color: #323031;
  margin: 0;
  line-height: 36px;
}

/* ==========================================================================
   Featured Listings Styles
   ========================================================================== */
.featured-lis {
  background: #F8F8F8;
}

.product-item {
  background: #ffffff;
}

.product-item .carousel-thumb {
  display: block;
  position: relative;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.product-item .carousel-thumb .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.63);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 999;
  bottom: -1px;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 236px;
  display: table;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.product-item .carousel-thumb .overlay div {
  vertical-align: middle;
  display: table-cell;
}

.product-item .carousel-thumb .btn-product a {
  font-size: 16px;
  padding: 2px 26px;
  border-radius: 4px;
  right: 20px;
  position: absolute;
  top: 15px;
}

.product-item .carousel-thumb .price {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  background: #fff;
  padding: 3px 6px;
  border-radius: 4px;
}

.product-item .carousel-thumb:hover {
  border-color: #E91E63;
}

.product-item .carousel-thumb:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.product-item .carousel-thumb:hover i {
  opacity: 1;
  visibility: visible;
}

.product-item .product-content {
  padding: 10px 20px;
  position: relative;
}

.product-item .product-content a {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

.product-item .product-content a i {
  margin-right: 5px;
}

.product-item .product-title {
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
}

.product-item .product-title a {
  color: #484848;
  font-weight: 500;
  font-size: 18px;
}

.product-item .product-title a:hover {
  color: #E91E63;
}

.product-item span {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}

.product-item .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
}

.product-item .icon i {
  font-size: 15px;
  text-align: center;
  border: 1px solid #f1f1f1;
  color: #E91E63;
  width: 35px;
  margin-left: 10px;
  height: 35px;
  cursor: pointer;
  line-height: 35px;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.product-item .icon i:hover {
  color: #fff;
  border-color: #E91E63;
  background: #E91E63;
}

.product-item .card-text {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  font-size: 12px;
}

.product-item .card-text .icon-wrap {
  margin-right: 5px;
  color: #E91E63;
}

.product-item .card-text .address {
  font-size: 12px;
  color: #333333;
}

.product-item .card-text .address:hover {
  color: #E91E63;
}

.bg-slod a {
  background: #9940FF;
  color: #fff !important;
}

.bg-sale a {
  background: #E91E63;
  color: #fff !important;
}

.owl-nav {
  position: relative;
  top: -215px;
  left: 0;
}

.owl-nav div.owl-prev {
  float: left;
  margin-left: -18px;
}

.owl-nav div.owl-next {
  float: right !important;
  margin-right: -18px;
}

.owl-nav div {
  width: 40px;
  height: 40px;
  display: block !important;
  background: #e5010e !important;
  text-align: center;
  display: inline-block;
  opacity: 1 !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-nav div i {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}

.owl-nav div:hover {
  background: #F06292 !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#featured {
  background-color: #fafafa;
}

#featured .featured-box {
  margin-top: 0;
}

.futere-ad-widget {
  position: relative;
  overflow: hidden;
  color: #ffffff;
}

.futere-ad-widget img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.futere-ad-widget .ctl-content-wrapper {
  background: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 30px;
  background: -moz-linear-gradient(top, rgba(1, 1, 25, 0.65) 0, rgba(1, 1, 25, 0.3) 100%);
  background: -webkit-linear-gradient(top, rgba(1, 1, 25, 0.65) 0, rgba(1, 1, 25, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(1, 1, 25, 0.65) 0, rgba(1, 1, 25, 0.3) 100%);
  box-shadow: 0 0 black;
}

.futere-ad-widget .ctl-content-wrapper .icon {
  margin-bottom: 20px;
}

.futere-ad-widget .ctl-content-wrapper .icon i {
  font-size: 40px;
}

.futere-ad-widget .ctl-content-wrapper .ctl-content h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
}

.futere-ad-widget .ctl-content-wrapper .ctl-content p {
  display: block;
  margin-bottom: 30px;
}

.futere-ad-widget .ctl-content-wrapper .ctl-button {
  position: absolute;
  bottom: 30px;
}

.categories-list-ad {
  margin-top: 30px;
}

.categories-list-ad .widget-title {
  font-size: 20px;
}

.categories-list-ad .categories-list {
  padding: 10px 20px 20px 20px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}

.categories-list-ad .categories-list li {
  clear: both;
  overflow: hidden;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.categories-list-ad .categories-list li a {
  color: #2d2d2d;
}

.categories-list-ad .categories-list li a i {
  margin-right: 5px;
}

.categories-list-ad .categories-list li a:hover {
  color: #E91E63;
}

.categories-list-ad .categories-list li:last-child {
  border-bottom: none;
}

/* Trending Categories Section Start */
.trending-cat {
  background: #fafafa;
}

.contents-ctg {
  padding: 110px 0 160px;
}

.box {
  background: #fff;
  color: #666;
  float: left;
  margin: 0 0 30px;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box .icon {
  margin: 0 auto 20px;
}

.box .icon img {
  height: 60px;
  max-width: 60px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box .icon i {
  font-size: 40px;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #333;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box strong {
  display: block;
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 10px;
  color: #999;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box:hover {
  background: #E91E63;
  -webkit-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.box:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.box-hover i,
.box:hover h4,
.box:hover strong {
  color: #fff;
}

/* ==========================================================================
 Categories Homepage
 ========================================================================== */
#categories {
  margin-top: -85px;
}

#categories .categories-wrapper {
  background: #fff;
  padding: 56px 63px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

#categories .owl-theme .owl-nav {
  position: relative;
  top: -100px;
  left: 0;
}

#categories .owl-theme .owl-nav div.owl-prev {
  float: left;
  margin-left: -50px;
}

#categories .owl-theme .owl-nav div.owl-next {
  float: right !important;
  margin-right: -50px;
}

#categories .owl-theme .owl-nav div {
  width: 46px;
  height: 44px;
  display: block !important;
  background: #4c4c4c !important;
  text-align: center;
  display: inline-block;
  opacity: 1 !important;
  border-radius: 29px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#categories .owl-theme .owl-nav div:hover {
  background: #e5010e !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#categories .owl-theme .owl-nav div i {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}

.category-icon-item {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.category-icon-item .icon-box {
  text-align: center;
}

.category-icon-item .icon-box .icon {
  margin-bottom: 10px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.category-icon-item .icon-box .icon i {
  color: #fff;
  font-size: 42px;
  line-height: normal;
  width: auto;
  height: auto;
}

.category-icon-item .icon-box h4 {
  font-size: 15px;
  color: #333;
  line-height: 15px;
  font-weight: 500;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.category-icon-item:hover {
  background: transparent;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.category-icon-item:hover h4 {
  color: #e5010e;
}

.category-icon-item:hover .icon {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

.category-box {
  background-color: #fff;
  margin: 30px 0;
  min-height: 277px;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  border-radius: 0;
  position: relative;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.category-box .icon {
  text-align: center;
  position: absolute;
  top: -25px;
  margin: 0 auto;
  width: 100%;
}

.category-box .icon i {
  display: inline-block;
  font-size: 22px;
  background: #E91E63;
  width: 52px;
  height: 52px;
  color: #fff;
  line-height: 48px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.category-box .category-header {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 40px 15px 20px;
  border-bottom: 1px solid #eee;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.category-box .category-header h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
  color: #333;
}

.category-box .category-header h4:hover {
  color: #E91E63;
}

.category-box .category-content {
  margin: 0;
  padding: 15px;
}

.category-box .category-content li {
  list-style: none;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 13px;
}

.category-box .category-content li a {
  display: flex;
  align-items: center;
  color: #888;
}

.category-box .category-content li a:hover {
  color: #E91E63;
}

.category-box .category-content li a span:first-child {
  flex-grow: 1;
}

.category-box .category-counter {
  margin-right: 15px;
}

.category-counter {
  font-size: 12px;
  color: #888;
  float: right;
}

#list-view .featured-box {
  display: inline-block;
}

#list-view .featured-box figure {
  float: left;
  width: 49%;
}

#list-view .featured-box .feature-content {
  float: left;
  text-align: left;
  padding: 15px;
  width: 50.667%;
}

#list-view .featured-box .feature-content .dsc {
  margin-bottom: 20px;
}

#list-view .featured-box .feature-content .listing-bottom {
  padding: 14px 0px 0px;
}

#list-view .list-box figure {
  float: left;
  width: 38%;
}

#list-view .list-box figure img {
  height: 218px;
  width: 100%;
}

#list-view .list-box .feature-content {
  float: left;
  text-align: left;
  padding: 0px 0px 0px 0px;
  width: 58%;
  margin-left: 20px;
}

.product-filter {
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  line-height: 20px;
}

.product-filter .nav-tabs {
  float: right;
  margin-right: 10px;
  border: none;
}

.product-filter .nav-tabs .nav-link {
  font-size: 22px;
  border: none;
  padding: 2px 10px;
  border-radius: 4px;
  color: #999;
  background: transparent;
}

.product-filter .nav-tabs .nav-item.show .nav-link,
.product-filter .nav-tabs .nav-link.active {
  border: none;
  color: #fff;
  color: #E91E63;
}

.product-filter .short-name {
  display: inline-block;
  color: #999;
}

.product-filter .short-name span {
  float: left;
  margin-right: 5px;
}

.product-filter .short-name .name-ordering {
  float: left;
}

.product-filter .Show-item {
  float: right;
  line-height: 26px;
}

.product-filter .Show-item span {
  color: #999;
  display: inline-block;
  margin-right: 5px;
}

.product-filter .Show-item .woocommerce-ordering {
  float: right;
}

.product-filter .Show-item .woocommerce-ordering label {
  margin: 0;
}

.product-filter .button, .product-filter select {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.categories-icon .icon-box {
  text-align: center;
  padding: 15px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-icon .icon-box .icon {
  margin-bottom: 15px;
}

.categories-icon .icon-box .icon i {
  width: 80px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  color: #999;
  font-size: 48px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-icon .icon-box h4 {
  font-size: 16px;
  color: #484848;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-icon .col-xs-12 {
  width: 50%;
}

.categories-icon .icon-box:hover {
  background: #E91E63;
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.categories-icon .icon-box:hover .icon i {
  font-size: 42px;
  color: #fff;
}

.categories-icon .icon-box:hover h4 {
  color: #fff;
}

.ad-categories-inner {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition: background .3s,border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
  transition: background .3s,border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
  -o-transition: background .3s,border .3s, border-radius .3s,box-shadow .3s;
  transition: background .3s,border .3s, border-radius .3s,box-shadow .3s;
  transition: background .3s,border .3s, border-radius .3s,box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
}

.ad-categories-inner:before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-image: -webkit-linear-gradient(top, #323031 0%, transparent 100%);
  background-image: -o-linear-gradient(top, #323031 0%, transparent 100%);
  background-image: linear-gradient(to bottom, #323031 0%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF323031',endColorstr='#00000000',GradientType=0);
  position: absolute;
  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.ad-categories-inner:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #323031;
  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.ad-categories-inner .ad-content-inner {
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 2;
}

.ad-categories-inner .ad-content-inner .info-title {
  font-size: 20px;
  margin: 0 0 5px;
  color: #fff;
  font-weight: 500;
}

.ad-categories-inner .ad-content-inner .ad-number {
  color: #fff;
  font-size: 14px;
}

.ad-categories-inner .icon {
  position: absolute;
  background: #E91E63;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  color: #fff;
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius: 50%;
  line-height: 52px;
  font-size: 22px;
}

.ad-categories-inner:active:after, .ad-categories-inner:hover:after {
  opacity: .6;
  filter: alpha(opacity=60);
}

.page-sidebar .widget {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  margin-bottom: 30px;
}

.page-sidebar .widget .widget-title {
  padding: 17px 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}

.page-sidebar .categories-list {
  padding: 20px;
}

.page-sidebar .categories-list li {
  padding: 7px 0;
}

.page-sidebar .categories-list li a {
  text-decoration: none;
  color: #888;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.page-sidebar .categories-list li a:hover {
  color: #E91E63;
}

.page-sidebar .categories-list li a i {
  margin-right: 5px;
}

.page-sidebar .categories-list li .category-counter {
  font-size: 12px;
}

.page-sidebar .add-box {
  padding: 20px;
}

.widget_search {
  margin-bottom: 30px;
}

/* Services Item */
.services-item {
  /*padding: 30px 5px 40px 40px;*/
  background: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  position: relative;
  margin-left: 15px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon {
  position: absolute;
  top: 35%;
  left: -25px;
}

.services-item .icon i {
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  font-size: 24px;
  border-radius: 4px;
  color: #E91E63;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .services-content h3 {
  margin-bottom: 5px;
  line-height: 35px;
  font-weight: 500;
}

.services-item .services-content h3 a {
  font-size: 18px;
  color: #E91E63;
}

.services-item:hover .icon i {
  background: #E91E63;
  color: #fff;
}

.works-item {
  text-align: center;
  position: relative;
}

.works-item .icon-box {
  width: 180px;
  height: 180px;
  padding: 18px;
  background: #FEFBFB;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px dotted #BBBBBB;
}

.works-item .icon-box i {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  display: inline-block;
  line-height: 143px;
  background: #fff;
  font-size: 42px;
  color: #E91E63;
}

.works-item p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  line-height: 35px;
}

.works-line {
  border-top: 1px dotted #BBBBBB;
  width: 76%;
  margin-top: -140px;
}

.ads-details-wrapper .product-img {
  position: relative;
}

.ads-details-wrapper .price {
  position: absolute;
  top: 30px;
  left: 5px;
  background: #E91E63;
  padding: 10px 25px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.ads-details-wrapper .owl-dots {
  text-align: center;
  margin-top: 10px;
}

.ads-details-wrapper .owl-dots .owl-dot {
  display: inline-block;
}

.ads-details-wrapper .owl-dots span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #ddd;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px rgba(66, 68, 67, 0.55);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.ads-details-wrapper .owl-dots span:hover {
  background: #E91E63;
}

.ads-details-wrapper .owl-dots .active span {
  background: #E91E63 !important;
}

.details-box {
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.details-box .ads-details-info {
  margin-bottom: 30px;
}

.details-box .ads-details-info h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.details-box .ads-details-info .details-meta span {
  display: inline-block;
  margin: 11px 0 16px;
}

.details-box .ads-details-info .details-meta span a {
  color: #999;
  margin-right: 10px;
}

.details-box .ads-details-info .details-meta span a:hover {
  color: #E91E63;
}

.details-box .ads-details-info .details-meta span a i {
  margin-right: 5px;
}

.details-box .ads-details-info .title-small {
  font-size: 18px;
  font-weight: 500;
}

.details-box .ads-details-info .list-specification {
  width: 100%;
  display: inline-block;
}

.details-box .ads-details-info .list-specification li {
  font-size: 13px;
  width: 48%;
  box-sizing: border-box;
  float: left;
  padding: 2px;
  position: relative;
  margin-bottom: 7px;
  margin-right: 5px;
}

.details-box .ads-details-info .list-specification li i {
  margin-right: 5px;
  color: #E91E63;
}

.details-box .tag-bottom {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #f1f1f1;
}

.details-box .advertisement li {
  display: inline-block;
  margin-right: 10px;
  line-height: 36px;
}

.details-box .advertisement li p {
  color: #333;
}

.details-box .advertisement li i {
  margin-right: 5px;
  color: #333;
}

.details-box .advertisement li a {
  color: #999;
}

.details-box .share span {
  float: left;
  margin-right: 12px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.details-box .social-link a {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  border-radius: 4px;
  background: #fafafa;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.details-box .social-link .twitter {
  background: #55acee;
}

.details-box .social-link .facebook {
  background: #3b5998;
}

.details-box .social-link .google {
  background: #dd4b39;
}

.details-box .social-link .linkedin {
  background: #007bb5;
}

.details-sidebar {
  margin-bottom: 60px;
}

.details-sidebar .agent-inner {
  background-color: #fff;
  color: #999;
  border-radius: 4px;
  padding: 32px;
  transition: 0.25s;
}

.details-sidebar .agent-inner .agent-title {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}

.details-sidebar .agent-inner .agent-title .agent-photo {
  float: left;
  display: block;
}

.details-sidebar .agent-inner .agent-title .agent-photo img {
  border-radius: 50%;
  border: 2px solid #E91E63;
  max-width: 72px;
}

.details-sidebar .agent-inner .agent-title .agent-details {
  margin-left: 92px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.details-sidebar .agent-inner .agent-title .agent-details h3 {
  font-size: 16px;
}

.details-sidebar .agent-inner .agent-title .agent-details h3 a {
  color: #333;
  margin: 0px 0 6px 0;
}

.details-sidebar .agent-inner .agent-title .agent-details span {
  color: #888;
}

.details-sidebar .agent-inner .agent-title .agent-details span i {
  margin-right: 5px;
}

.details-sidebar .agent-inner .form-control {
  margin-bottom: 20px;
}

.details-sidebar .widget {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  margin-bottom: 60px;
}

.details-sidebar .widget .widget-title {
  padding: 17px 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}

.details-sidebar .posts-list {
  padding: 20px;
}

.details-sidebar .posts-list li {
  padding-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.details-sidebar .posts-list .widget-thumb {
  float: left;
}

.details-sidebar .posts-list .widget-thumb a {
  display: block;
}

.details-sidebar .posts-list .widget-thumb a img {
  opacity: 1;
  max-width: 90px;
  margin: 0px 15px 0 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.details-sidebar .posts-list .widget-thumb:hover img {
  opacity: 0.7;
}

.details-sidebar .posts-list .widget-content {
  margin-left: 55px;
}

.details-sidebar .posts-list .widget-content h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0;
}

.details-sidebar .posts-list .widget-content a {
  color: #333;
}

.details-sidebar .posts-list .widget-content a:hover {
  color: #E91E63;
}

.details-sidebar .posts-list .widget-content span {
  color: #999;
  font-size: 13px;
  display: block;
  margin: 2px 0;
}

.details-sidebar .posts-list .widget-content span i {
  padding-right: 5px;
}

.details-sidebar .posts-list .meta-tag {
  display: inline-block;
}

.details-sidebar .posts-list .meta-tag span {
  float: left;
  margin-right: 5px;
  color: #999;
}

.details-sidebar .posts-list .meta-tag span a {
  color: #999;
  font-size: 12px;
}

.details-sidebar .posts-list .meta-tag span a:hover {
  color: #E91E63;
}

.details-sidebar .posts-list .price {
  font-size: 16px;
  color: #E91E63;
}

.sidebar-box {
  width: 100%;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  margin-bottom: 30px;
}

.sidebar-box .user {
  text-align: center;
  width: 100%;
  padding: 15px 20px;
  position: relative;
  margin-bottom: 5px;
  background: #df5236;
}

.sidebar-box .user figure {
  margin: 0;
  position: relative;
}

.sidebar-box .user figure img {
  border-radius: 50%;
  border: 2px solid #fff;
}

.sidebar-box .user .usercontent {
  padding: 15px 0px 0px;
}

.sidebar-box .user .usercontent h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}

.sidebar-box .user .usercontent h4 {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.sidebar-box .navdashboard ul {
  width: 100%;
}

.sidebar-box .navdashboard ul li {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
  line-height: 48px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar-box .navdashboard ul li a {
  color: #333;
  width: 100%;
  float: left;
  line-height: inherit;
}

.sidebar-box .navdashboard ul li a span {
  text-align: left;
}

.sidebar-box .navdashboard ul li a i {
  width: 58px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.sidebar-box .navdashboard ul li a:focus,
.sidebar-box .navdashboard ul li a:hover,
.sidebar-box .navdashboard ul li a.active {
  background: #E91E63;
  color: #fff;
}

.sidebar-box .navdashboard ul li a:focus i,
.sidebar-box .navdashboard ul li a:hover i,
.sidebar-box .navdashboard ul li a.active i {
  color: #fff;
}

/*==============================================
Dashboard Global Elements			
==============================================*/
.dashboard-sections {
  padding: 20px 0;
}

.dashboard-sections .dashboardbox {
  width: 100%;
  float: left;
  overflow: hidden;
  background: #fff;
  position: relative;
  border-radius: 4px;
  padding: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dashboard-sections .icon {
  float: left;
}

.dashboard-sections .icon i {
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  width: 42px;
  border-radius: 50%;
  color: #fff;
  height: 42px;
  display: inline-block;
  background: #E91E63;
}

.dashboard-sections .contentbox {
  float: left;
  margin-left: 10px;
}

.dashboard-sections .contentbox h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.dashboard-sections .contentbox h2 a {
  color: #333;
  bottom: 10px;
  padding: 0 14px 0 0;
}

.dashboard-sections .contentbox h2 a:hover {
  color: #E91E63;
}

.dashboard-sections .contentbox h3 {
  font-size: 15px;
  color: #999;
  font-weight: 400;
  margin: 0;
}

.dashboardbox:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.inner-box {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.dashboard-box {
  width: 100%;
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid #eaedef;
}

.dashboard-box .dashbord-title {
  margin: 0;
  float: left;
  color: #363b4d;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 0 8px 10px;
}

.dashboard-wrapper {
  padding: 10px 15px;
}

.dashboard-wrapper .select select {
  border: 0;
  width: 100%;
  border-radius: 0;
  background: transparent;
  font-size: 16px;
  outline: none;
  line-height: 30px;
  padding: 15px 15px 15px 0;
}

#editor {
  position: relative;
}

#editor .panel-default .panel-heading {
  padding: 0;
  border-radius: 4px;
  background: transparent;
  border: none;
}

#editor .note-editor.note-frame {
  border: 1px solid #ddd;
}

#editor .popover {
  display: none;
}

.note-Top {
  display: none;
}

.tg-fileuploadlabel {
  width: 100%;
  padding: 30px;
  color: #363b4d;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px dashed #eaedef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.tg-fileuploadlabel span {
  display: block;
  margin-bottom: 15px;
}

.tg-fileuploadlabel span:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.tg-fileuploadlabel span:first-child(2) {
  padding: 15px 0;
}

.tg-fileuploadlabel span:first-child(4) {
  color: #363b4d;
  font-size: 13px;
  line-height: 16px;
  margin: 30px 0 0;
}

.tg-fileuploadlabel input[type=file].fileinput {
  display: none;
}

.tg-fileuploadlabel .btn {
  color: #fff;
  padding: 10px 50px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 23px;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}

#tg-photogallery {
  display: none;
}

.checkbox {
  font-size: 12px;
}

.checkbox a {
  font-size: 12px;
  color: #999;
}

.checkbox a:hover {
  color: #E91E63;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #E91E63;
}

label {
  display: inline;
}

.tg-checkbox {
  margin-bottom: 10px;
}

.tg-checkbox a {
  font-size: 13px;
  color: #333;
}

.tg-inputwithicon .tg-select {
  color: #666;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.tg-inputwithicon .tg-select:after {
  top: 10px;
  right: 15px;
  z-index: 2;
  color: #666;
  display: block;
  content: '\e93a';
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: 'LineIcons';
}

.tg-inputwithicon .tg-select select {
  border: 0;
  border-radius: 0;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  color: #333;
  background: #ffffff;
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dashboard-wrapper .tg-inputwithicon .tg-select:after {
  top: 2px;
}

.dashboard-wrapper .tg-select select:focus {
  outline: none;
}

/*==============================================
Dashboard My Ads					
==============================================*/
.nav-table {
  width: 100%;
  display: inline-block;
  margin: 10px 0 20px;
}

.nav-table ul li {
  float: left;
  margin-right: 15px;
  position: relative;
}

.nav-table ul li a {
  color: #E91E63;
  padding: 7px 16px;
  display: inline-block;
  border: 1px solid #eaedef;
  border-radius: 4px;
}

.nav-table ul li a:hover,
.nav-table ul li.active a {
  background: #E91E63;
  color: #fff;
}

.dashboardtable tbody tr {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dashboardtable thead tr th {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding: 15px 10px;
  background: transparent;
  vertical-align: middle;
  border-bottom: none;
}

.dashboardtable thead tr th .checkbox,
.dashboardtable tbody tr td .checkbox {
  width: 20px;
  height: 20px;
}

.dashboardtable tbody tr td,
.dashboardtable tbody tr td h3 {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  margin: 0;
}

.dashboardtable tbody tr td h3 + span {
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.photo {
  width: 110px;
  display: block;
}

.adcategories {
  min-width: 110px;
  display: block;
}

.adstatus {
  width: 80px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.adstatusinactive {
  color: #363b4d;
  background: #f7f7f7;
}

.adstatusactive {
  background: #E91E63;
}

.adstatusexpired {
  background: #fc9209;
}

.adstatusdeleted {
  background: #f91942;
}

.adstatussold {
  background: #363b4d;
}

.btns-actions {
  min-width: 150px;
  width: 100%;
  float: left;
  margin: -5px 0;
}

.btns-actions .btn-action {
  margin: 5px;
  width: 40px;
  height: 40px;
  float: left;
  color: #363b4d;
  line-height: 40px;
  border-radius: 4px;
  background: #f7f7f7;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btns-actions .btn-action i {
  display: block;
  line-height: 40px;
}

.dashboardtable tbody tr:hover .btn-delete {
  background: #f91942;
  color: #fff;
}

.dashboardtable tbody tr:hover .btn-edit {
  background: #363b4d;
  color: #fff;
}

.dashboardtable tbody tr:hover .btn-view {
  background: #00cc67;
  color: #fff;
}

.dashboardtable tbody tr:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.form-dashboard {
  padding: 0px 5px 15px;
}

.form-dashboard .privacy-box .dashboardholder {
  border: 1px solid #ddd;
  padding: 15px;
}

.form-dashboard .privacy-box .dashboardholder ul {
  margin-bottom: 20px;
}

.form-dashboard .privacy-box .dashboardholder ul li {
  margin-bottom: 15px;
}

.form-dashboard .privacy-box .dashboardholder ul li .checkbox span {
  font-size: 14px;
  margin-left: 8px;
}

.dashboardboxtitle h2 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}

.offers-messages {
  border: 1px solid #ddd;
  padding: 0px 0 15px;
}

.offers-messages .offers-box {
  padding: 15px 0;
  display: inline-block;
  border-right: 1px solid #ddd;
}

.offers-user-online .offerer {
  width: 100%;
  float: left;
  cursor: pointer;
  position: relative;
  margin: 0px;
  padding: 10px;
}

.offers-user-online .offerer figure {
  float: left;
  margin: 0px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 2px 12px 0px rgba(198, 198, 198, 0.3);
  border: 2px solid #fff;
  position: relative;
}

.offers-user-online .offerer figure img {
  height: auto;
  max-width: 100%;
}

.offers-user-online .offerer .bolticon {
  width: 8px;
  height: 8px;
  background: #E91E63;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 15px;
}

.offers-user-online .offerer .user-name {
  padding: 10px 0;
}

.offers-user-online .offerer .user-name h3 {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
}

.offers-user-online .offerer .user-name h4 {
  font-size: 14px;
}

.offers-user-online .offerer .user-name h4 a {
  color: #E91E63;
}

.chat-message-box {
  padding: 15px 0;
  display: inline-block;
}

.chat-message-box .offerermessage {
  width: 100%;
  float: left;
  position: relative;
}

.chat-message-box .offerermessage figure {
  float: left;
  margin: 0px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 2px 12px 0px rgba(198, 198, 198, 0.3);
  border: 2px solid #fff;
  position: relative;
}

.chat-message-box .offerermessage figure img {
  height: auto;
  max-width: 100%;
}

.chat-message-box .offerermessage .description {
  margin-left: 80px;
}

.chat-message-box .offerermessage .description .info {
  width: auto;
  padding: 10px;
  margin: 0px 0px 5px;
  background: #fff;
}

.chat-message-box .offerermessage .description .info h3 {
  font-size: 16px;
  font-weight: 500;
}

.chat-message-box .offerermessage .description .info p {
  font-size: 13px;
  line-height: 20px;
}

.chat-message-box .offerermessage .description .date {
  color: #999;
  font-style: italic;
}

.chat-message-box .memessage {
  width: 100%;
  float: left;
  position: relative;
  margin: 8px 0px;
  padding: 0px 40px;
}

.chat-message-box .memessage figure {
  float: right;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 2px 12px 0px rgba(198, 198, 198, 0.3);
  border: 2px solid #fff;
  bottom: 21px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0px;
  right: 0;
}

.chat-message-box .memessage figure img {
  height: auto;
  max-width: 100%;
}

.chat-message-box .memessage .description {
  margin-left: 80px;
}

.chat-message-box .memessage .description .info {
  width: auto;
  padding: 10px;
  margin: 0px 0px 5px;
  background: #fff;
}

.chat-message-box .memessage .description .info h3 {
  font-size: 16px;
  font-weight: 500;
}

.chat-message-box .memessage .description .info p {
  font-size: 13px;
  line-height: 20px;
}

.chat-message-box .memessage .description a {
  color: #999;
}

.chat-message-box .memessage .description a:hover {
  color: #E91E63;
}

.chat-message-box .memessage .description .date {
  color: #999;
  font-style: italic;
}

.replay-box {
  float: left;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}

.replay-box .form-control {
  width: 100%;
  height: 100px;
  font-size: 13px;
  line-height: 16px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 8px;
  border-radius: 0px;
}

.replay-box .icon-box {
  width: 100%;
  float: left;
  height: 39px;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.replay-box .icon-box i {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 6px;
}

.card {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  padding: 25px 30px 30px 30px;
  margin-bottom: 10px;
}

.card .table-total-checkout {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card .table-total-checkout tbody tr td {
  text-align: right;
  font-size: 30px;
}

/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
.mainHeading {
  text-align: center;
  margin-bottom: 20px;
}

.mainHeading .section-title {
  padding: 20px 0px;
}

#pricing-table {
  text-align: center;
}

#pricing-table .title {
  padding-top: 10px;
  padding-bottom: 15px;
}

#pricing-table .title h3 {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}

#pricing-table .table {
  padding-bottom: 30px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #E6E6E6;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#pricing-table .table .icon {
  padding: 30px;
}

#pricing-table .table .icon i {
  color: #E91E63;
  font-size: 42px;
}

#pricing-table .table .pricing-header {
  position: relative;
  text-align: center;
}

#pricing-table .table .pricing-header .price-value {
  font-size: 30px;
  color: #E91E63;
  position: relative;
  text-align: center;
  font-weight: 500;
  line-height: 35px;
}

#pricing-table .table .description {
  text-align: center;
  padding: 0px 50px;
  margin-bottom: 20px;
}

#pricing-table .table .description li {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  padding-bottom: 12px;
}

#pricing-table .table:hover {
  border-color: transparent;
  box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.15);
}

#pricing-table #active-tb {
  margin-top: -20px;
  border-color: transparent;
  box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.15);
}

.testimonial {
  background: #ddd;
  padding: 30px 0 60px !important;
}

.testimonial .img-thumb {
  position: relative;
  margin-left: 30px;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  transform: translateY(40px);
}

.testimonial .img-thumb img {
  border: 3px solid #E91E63;
  border-radius: 50%;
  width: auto;
}

.testimonial-item {
  padding: 15px;
  background: #fff;
  border-radius: 0px;
  border: 1px solid #E6E6E6;
}

.testimonial-item .content {
  padding: 50px 20px 15px;
}

.testimonial-item .content .description {
  width: 100%;
}

.testimonial-item .content .info-text {
  margin-top: 20px;
}

.testimonial-item .content .info-text h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 0;
}

.testimonial-item .content .info-text h2 a {
  color: #333333;
}

.testimonial-item .content .info-text h2 a:hover {
  color: #E91E63;
}

.testimonial-item .content .info-text h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.testimonial-item .content .info-text h4 a {
  color: #999999;
}

.testimonial-item .content h3 {
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.testimonial-item .content h3 a {
  color: #E91E63;
}

.owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #E91E63;
}

/* Blog Area */
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

#blog .blog-item-wrapper:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}

#blog .blog-item-img {
  position: relative;
}

#blog .blog-item-img img {
  width: 100%;
}

#blog .blog-item-text {
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(143, 143, 143, 0.18);
}

#blog .blog-item-text .meta-tags {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

#blog .blog-item-text .meta-tags span {
  color: #929292;
  margin-right: 10px;
}

#blog .blog-item-text .meta-tags span a {
  color: #929292;
}

#blog .blog-item-text .meta-tags span i {
  margin-right: 5px;
}

#blog .blog-item-text h3 {
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#blog .blog-item-text h3 a {
  color: #333333;
}

#blog .blog-item-text h3 a:hover {
  color: #E91E63;
}

#blog .blog-item-text p {
  line-height: 27px;
  margin-bottom: 15px;
}

#blog .blog-item-text .btn-rm {
  color: #333;
}

#blog .blog-item-text .btn-rm:hover {
  color: #E91E63;
}

.blog-post {
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.blog-post .post-content {
  padding: 30px;
}

.blog-post .post-content .post-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-post .post-content .post-title a {
  color: #333;
}

.blog-post .post-content .post-title a:hover {
  color: #E91E63;
}

.blog-post .meta {
  margin-top: 0;
  margin-bottom: 20px;
}

.blog-post .meta .meta-part {
  display: inline-block;
  margin-right: 10px;
}

.blog-post .meta .meta-part a {
  color: #999;
  text-transform: capitalize;
}

.blog-post .entry-summary {
  margin: 15px 0 30px;
  line-height: 26px;
}

.quote-post .quote-wrap {
  text-align: center;
  padding: 50px 0;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  background: #F7F7F7;
}

blockquote {
  border-left: none;
  padding: 15px;
  line-height: 36px;
}

.pagination-bar {
  margin-top: 35px;
}

.page-item .page-link {
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  color: #E91E63;
}

.page-link:focus, .page-link:hover, .page-link.active {
  background-color: #E91E63;
  color: #fff;
  box-shadow: none;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
  border-radius: 4px;
}

.post-content-block {
  margin-bottom: 40px;
}

.post-thumb {
  position: relative;
}

.post-thumb .date {
  position: absolute;
  font-size: 13px;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
  padding: 7px 17px;
  background-color: white;
}

.post-thumb .date .day {
  color: #E91E63;
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.post-meta {
  padding-bottom: 10px;
}

.post-meta a {
  color: #888;
}

.post-meta a:hover {
  color: #E91E63;
}

.post-meta span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  line-height: 12px;
  color: #888;
  display: inline-block;
}

.post-meta span i {
  color: #888;
  margin-right: 5px;
}

.post-meta .post-comment {
  border-right: 0;
}

.tags-area {
  margin: 20px 0;
}

.tags-area .post-tags a {
  border: 1px solid #eee;
  color: #7c7c7c;
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  margin-left: 3px;
  border-radius: 3px;
}

.tags-area .post-tags a:hover {
  background: #E91E63;
  color: #fff;
}

.share-items .list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.share-items .list-inline li a i {
  margin-left: 5px;
  font-size: 14px;
  line-height: 60px;
  color: #E91E63;
  text-align: center;
}

.share-items .post-social-icons a i.fa-facebook {
  background: #677fb5;
}

.share-items .post-social-icons a i.fa-twitter {
  background: #70c2e9;
}

.share-items .post-social-icons a i.fa-google-plus {
  background: #c53942;
}

.share-items .post-social-icons a i.fa-linkedin {
  background: #3daccf;
}

.blog-post-item {
  position: relative;
}

.blog-post-item .post-thumb {
  overflow: hidden;
  position: relative;
}

.blog-post-item .post-thumb figure {
  margin: 0;
}

.blog-post-item .post-thumb .post-categories {
  font-weight: 600;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.blog-post-item .post-thumb .post-categories a {
  color: #fff;
  font-size: 13px;
  display: inline-block;
  background: #E91E63;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 5px 15px;
  margin-top: 30px;
}

.blog-post-item .post-item-content {
  padding: 80px 30px 25px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-image: -webkit-linear-gradient(top, transparent 0%, #323031 100%);
  background-image: -o-linear-gradient(top, transparent 0%, #323031 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #323031 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#FF323031',GradientType=0);
}

.blog-post-item .post-item-content .post-date {
  font-size: 13px;
  margin: 0 0 5px;
}

.blog-post-item .post-item-content .post-title {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.blog-post-item .post-item-content .post-title a {
  color: #fff;
}

.blog-post-item:hover .post-categories {
  opacity: 1;
  filter: alpha(opacity=100);
}

#comments .comment-box {
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

#comments h3 {
  font-size: 24px;
  padding: 15px 0;
  font-weight: 700;
}

.respond-title {
  font-size: 24px;
  margin-bottom: 60px;
  color: #999;
  text-transform: capitalize;
}

#comments .comments-list {
  padding: 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #fafafa;
}

#comments .comments-list .media {
  padding-bottom: 60px;
}

#comments .comments-list .media .thumb-left {
  float: left;
  position: relative;
  width: 200px;
  height: auto;
}

#comments .comments-list .media .thumb-left img {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}

#comments .comments-list .media .info-body {
  margin-left: 20px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  padding: 15px;
  background: #fff;
}

#comments .comments-list .media .info-body .media-heading {
  margin-bottom: 15px;
}

#comments .comments-list .media .info-body .media-heading .name {
  font-weight: 500;
  font-size: 18px;
}

#comments .comments-list .media .info-body .media-heading .comment-date {
  color: #999;
  margin-bottom: 5px;
  font-size: 14px;
}

#comments {
  margin-top: 15px;
}

#comments .comments-list li ul {
  padding-left: 100px;
}

.reply-link {
  color: #E91E63;
  font-size: 14px;
  margin-left: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.reply-link:hover {
  color: #E91E63;
}

.right-sidebar {
  padding-left: 20px;
}

.widget-search #search-form {
  position: relative;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 20px;
  height: 42px;
  background-color: transparent;
  border: none;
}

.search-btn i {
  color: #999;
}

#sidebar {
  margin-bottom: 60px;
}

#sidebar .widget_search {
  margin-bottom: 30px;
}

#sidebar .widget {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  margin-bottom: 60px;
}

#sidebar .widget .widget-title {
  padding: 17px 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}

#sidebar .categories-list {
  padding: 20px;
}

#sidebar .categories-list li {
  padding: 7px 0;
}

#sidebar .categories-list li a {
  text-decoration: none;
  color: #888;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#sidebar .categories-list li a:hover {
  color: #E91E63;
}

#sidebar .categories-list li a i {
  margin-right: 5px;
}

#sidebar .categories-list li .category-counter {
  font-size: 12px;
}

#sidebar .posts-list {
  padding: 20px;
}

#sidebar .posts-list li {
  padding-bottom: 12px;
}

#sidebar .posts-list .widget-thumb {
  float: left;
}

#sidebar .posts-list .widget-thumb a {
  display: block;
}

#sidebar .posts-list .widget-thumb a img {
  opacity: 1;
  max-width: 90px;
  margin: 5px 15px 0 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#sidebar .posts-list .widget-thumb:hover img {
  opacity: 0.7;
}

#sidebar .posts-list .widget-content a {
  font-weight: 500;
  color: #484848;
  font-size: 14px;
}

#sidebar .posts-list .widget-content a:hover {
  color: #E91E63;
}

#sidebar .posts-list .widget-content span {
  color: #999;
  font-size: 13px;
  display: block;
  margin: 2px 0;
}

#sidebar .posts-list .widget-content span i {
  padding-right: 5px;
}

#sidebar .tagcloud {
  padding: 20px;
}

#sidebar .tagcloud a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #6f6f6f;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#sidebar .tagcloud a:hover {
  color: #E91E63;
}

#sidebar .add-box {
  padding: 20px;
}

#sidebar .add-box img {
  width: 100%;
}

/* Contact Forme */
#conatiner-map {
  width: 100%;
  height: 480px;
}

#google-map-area {
  padding-top: 60px;
  position: relative;
}

#google-map-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#content {
  position: relative;
}

#content .contact-form {
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

#content .contact-form .contact-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;
}

#content .contact-form .contact-title:before {
  content: "";
  height: 3px;
  width: 40px;
  background: #E91E63;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#content .information {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

#content .information h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  margin: 0;
  padding: 20px 20px;
}

#content .information .contact-datails {
  padding: 20px;
}

#content .information .contact-datails .info li {
  padding: 0 0 18px;
  width: 100%;
  display: inline-flex;
}

#content .information .contact-datails .info li span {
  font-weight: 500;
  color: #333;
  width: 26%;
}

#content .information .contact-datails .info li p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin: 0;
  padding: 0;
  width: 74%;
}

#content .information .contact-datails .info li p a {
  color: #999;
}

#content .information .contact-datails .info li p a:hover {
  color: #E91E63;
}

.call-back h4 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 30px;
}

.call-back .call-us {
  border: 1px solid #E91E63;
  padding: 15px;
}

.call-back .call-us .icon {
  float: left;
}

.call-back .call-us .icon i {
  font-size: 36px;
  color: #E91E63;
}

.call-back .call-us .contact-text {
  margin-left: 50px;
}

.call-back .call-us .contact-text span {
  font-size: 12px;
  margin-bottom: 10px;
}

.call-back .call-us .contact-text h5 {
  font-size: 22px;
  color: #E91E63;
}

.call-back .call-us .contact-text p {
  font-size: 14px;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 14px;
  box-shadow: none;
  color: #333;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

textarea {
  border-radius: 4px !important;
}

.form-control:focus {
  border-color: #E91E63;
  outline: 0;
  box-shadow: none;
}

.login-area {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.login-area h3 {
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  border-bottom: 1px solid #eaedef;
}

.login-area .login-form {
  padding: 30px 15px;
}

.login-area .login-form .input-icon {
  position: relative;
}

.login-area .login-form .input-icon i {
  font-size: 15px;
  left: 16px;
  color: #999;
  line-height: 22px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
}

.login-area .login-form .input-icon input {
  padding-left: 40px;
}

.login-area .checkbox {
  display: inline-block;
}

.login-area .checkbox label {
  font-size: 13px;
  margin-left: 5px;
}

.login-area .forgetpassword {
  float: right;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.login-area .forgetpassword:hover {
  color: #E91E63;
}

.login-area .form-links a {
  color: #999;
}

.login-area .form-links a:hover {
  color: #E91E63;
}

.custom-control {
  display: inline-block;
}

.close-account {
  padding: 15px;
  text-align: center;
}

.close-account p {
  margin-bottom: 10px;
}

.close-account .radio-inline {
  margin: 0px 5px 15px;
}

.subscribes {
  background: #e1261d;
}

.subscribes .subscribes-inner .icon {
  float: right;
}

.subscribes .subscribes-inner .icon i {
  font-size: 62px;
  color: #ffffff;
  line-height: 55px;
}

.subscribes .subscribes-inner .sub-text {
  float: left;
  margin-left: 15px;
}

.subscribes .subscribes-inner .sub-text h3 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 35px;
}

.subscribes .subscribes-inner .sub-text p {
  font-size: 16px;
  color: #999999;
}

.subscribe {
  margin-top: 5px;
  width: 100%;
}

.subscribe .form-control {
  float: left;
  width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  position: relative;
  height: 52px;
}

.subscribe .btn {
  padding: 12.5px 31px;
  position: absolute;

  right: 14px;
  margin-top: -1px;
  text-transform: capitalize;
  font-size: 16px;
}

/* ==========================================================================
   Footer Style
   ========================================================================== */
.block-title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  padding-bottom: 25px;
  position: relative;
}

footer .footer-Content {
  background-color: #343434;
  padding: 60px 0;
  color: #BFBFBF;
}

.footer-logo {
  margin-bottom: 20px;
}

.textwidget {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.textwidget p {
  color: #fff;
  font-size: 14px;
}

footer .menu {
  padding-left: 0;
}

footer .menu li {
  list-style: none;
  float: left;
  padding-bottom: 15px;
  width: 50%;
}

footer .menu li a {
  color:#fff;
  font-size: 15px;
}

footer .menu li a:hover {
  color: #df5236;
}

.contact-footer {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
}

.contact-footer li {
  padding-bottom: 20px;
}

.contact-footer li strong {
  float: left;
}

.contact-footer li strong i {
  font-size: 15px;
}

.contact-footer li span {
  margin-left: 25px;
  display: block;
}

.contact-footer li span a {
  color: #ffffff;
}

.contact-footer li span a:hover {
  color: #E91E63;
}

.footer-social {
  margin-top: 22px;
}

.footer-social li {
  display: inline-block;
  margin-right: 12px;
}

.footer-social li a {
 /* background-color: #E91E63;*/
  border-radius: 18px;
  color: #fff;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer-social li .facebook:hover {
  background-color: #3b5998;
}

.footer-social li .twitter:hover {
  background-color: #55acee;
}

.footer-social li .linkedin:hover {
  background-color: #007bb5;
}

.footer-social li .google-plus:hover {
  background-color: #dd4b39;
}

#copyright {
  background-color: #212529;
  padding: 20px 0 10px;
  color: #fff;
}

#copyright p {
  line-height: 34px;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  text-decoration: underline;
}

.social-icon .facebook:hover {
  background-color: #3b5998;
}

.social-icon .twitter:hover {
  background-color: #55acee;
}

.social-icon .dribble:hover {
  background-color: #D34836;
}

.social-icon .flickr:hover {
  background-color: #ff0084;
}

.social-icon .youtube:hover {
  background-color: #CC181E;
}

.social-icon .google-plus:hover {
  background-color: #dd4b39;
}

.social-icon .linkedin:hover {
  background-color: #007bb5;
}

#about .about-wrapper {
  padding: 40px 0;
}

#about .intro-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

#about .intro-desc {
  margin-bottom: 30px;
}

.special-product {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.special-product:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.special-product .product-text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  /* background: #555; */
  /* -webkit-transition: all .3s ease-in-out; */
  /* transition: all .3s ease-in-out; */
  /* -webkit-transform: translate3d(0, 100%, 0); */
  /* transform: translate3d(0, 100%, 0); */
  padding: 30px;
  z-index: 2;
}

.special-product .product-text h3 {
  font-size: 30px;
  color: #fff;
}

.special-product .product-text .offer-details {
  margin-top: 30px;
  color: #fff;
}

.special-product .product-text .offer-details h4 {
  font-size: 18px;
}

.special-product .product-text .offer-details p {
  font-size: 16px;
}

.special-product .product-text .price {
  font-weight: 700;
  color: #fff;
  font-size: 26px;
  color: #03cd67;
  margin-bottom: 15px;
}

.special-product .product-text .icon-footer {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.special-product .product-text .icon-footer a {
  font-size: 30px;
  color: #fff;
}

.special-product .product-text .icon-footer a:hover {
  color: #E91E63;
}

.special-product .product-text .text {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.img-box {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 90;
  margin: 10px 0;
  border-radius: 3px;
}

.img-box .img-box-content {
  position: absolute;
  z-index: 101;
  bottom: 0;
  padding: 15px;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
}

.img-box .img-box-content h4 {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin: 0;
}

.img-box .img-box-content span {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
}

.img-box .img-box-background {
  background-size: cover;
  transition: all 0.55s;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
}

.img-box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: #222;
  opacity: 0.3;
  z-index: 99;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
}

.img-box:hover:before {
  background-color: #E91E63;
  opacity: 0.7;
}

.img-box:hover .img-box-background {
  transform: scale(1.06);
}

.single-cta {
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.single-cta .cta-icon {
  float: left;
  padding-bottom: 15px;
}

.single-cta .cta-icon i {
  font-size: 40px;
  color: #E91E63;
}

.single-cta .content {
  margin-left: 60px;
}

.single-cta h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.head-faq {
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 24px;
}

.panel-default {
  border-radius: 0px;
  border: none;
}

.panel-default .panel-heading {
  padding: 0px 20px;
  outline: none;
  border-radius: 4px;
  background: #E91E63;
  border: 1px solid transparent;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.panel-default .panel-heading .panel-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  color: inherit;
}

.panel-default .panel-heading a {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 35px 15px 30px;
  display: inline-block;
  width: 100%;
  color: #fff;
  position: relative;
}

.panel-default .panel-heading a:after {
  font-family: "LineIcons";
  content: "\e9d6";
  position: absolute;
  left: 0px;
  color: #fff;
  top: 50%;
  line-height: 1;
  padding: 0px 5px;
  margin-top: -7px;
}

.panel-default .panel-heading .collapsed:after {
  content: "\e9bc";
}

.panel-default .panel-collapse .panel-body {
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.counter-section {
  background: url(../img/background/counter-back1.jpg);
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 30px;
  margin-right: 30px;
  float: left;
}

.counter-section .counter .icon i {
  font-size: 48px;
  color: #E91E63;
}

.counter-section .counter .counterUp {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.counter-section .counter p {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.error-content {
  width: 100%;
  padding: 50px 0px;
}

.error-content .error-message {
  padding: 0px 0px 45px;
  text-align: center;
}

.error-content .error-message h2 {
  color: #E91E63;
  font-size: 200px;
  position: relative;
  margin: 0px;
  padding: 0px 10px 8px;
}

.error-content .error-message h3 {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.error-content .form-error-search {
  width: 100%;
  float: left;
  margin: 0px 0px 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
  position: relative;
}

.error-content .form-error-search .form-control {
  width: 100%;
  float: left;
  height: 60px;
  font-size: 16px;
  line-height: 30px;
  border-width: 0px;
}

.error-content .form-error-search .btn-search {
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 190px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  padding: 0px;
  border-radius: 0px 4px 4px 0px;
}

.error-content .description {
  text-align: center;
  color: #999;
}

.error-content .description a {
  color: #55acee;
}

.error-content .description a:hover {
  color: #E91E63;
}
button.btn.btn-common.black {
  background-color: #323031;
}
a.btn.btn-common.float-right.sz {
  background-color: #323031;
  position: relative;
  color: #fff;
  z-index: 1;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

a.facebook {
  background: #3b5998;
}
a.twitter {
  background: #55acee;
}
a.linkedin {
  background: #007bb5;
}
a.google-plus {
  background: #e60f24;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
select.selectpicker {
    margin-top: 10px;
    float: right;
}

.blog .carousel-indicators .active {
background: #707070;
}
.mb-301 {
  margin-bottom: 54px;
}
hr {
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(229, 1, 14);
}
.featured-box1 {
    /* width: 100%; */
    /* background: #fff; */
    /* margin-bottom: 15px; */
    /*margin-top: 15px;*/
	    margin-right: 0px;
		margin-bottom: 61px;

}


a.btn.btn-common.show.sz {
    padding: 5px 31px;
    font-size: 12px;
    background: #ddd;
    color: #000;
	margin: 21px 0px;
}
h5.price {
    color: #000;
    font-size: 20px;
    margin-top: 4px;
}
.navbar1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  background: #444243;
}
