.req{
	color: red;
}

.img-circular{
    border-radius: 50%;
  }

  .flash-message{
    top: 70px;
  }

  .sidebar .nav i {
    color: #f44336 !important;
 }

.sidebar .nav li.active>a, .sidebar .nav li.active>a i {
  color: #fff !important;
 }

body {
  font-family:  'Open Sans', sans-serif !important;
}

 .page-item.active .page-link {
  color: #ffffff !important;
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}

.page-link {
  color: #f44336 !important;
  background-color: transparent !important;
} 

.delete-button-position{
   /* position: relative;
   right: -66px;
   top: 45px; */
   color: #da3e16;
   font-size: 130%;
    z-index: 2;
}

.req {
  color: red;
}

th>a {
  color: #333333 !important;
} 

.btn.btn-success.btn-link {
    color: #170f73 !important;
}
.bashboard {
  color: white !important;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background-color: #f44336 !important;
  color: #FFFFFF;
}

.card-category-top-margin{
  margin-top: 3% !important;
}
.note-popover .popover-content>.btn-group, .panel-heading.note-toolbar>.btn-group {
  margin-top: 3px  !important;
  margin-right: 2px !important;
  margin-left: 0;
}

.note-icon-font.note-recent-color{
  background-color: transparent !important;
}
